In [1]:
import pandas as pd
import os
from pandas_profiling import ProfileReport

In [5]:
pathToManufacturer = os.path.join("..","Resources","country_vaccinations_by_manufacturer.csv")
pathToTotal = os.path.join("..","Resources","country_vaccinations.csv")
pathToCleanManufacturer = os.path.join("..","Resources","manufacturer_breakdown.csv")
pathToPopulation = os.path.join("..","Resources","2021_population.csv")
total_vacc_df = pd.read_csv(pathToTotal)
manufacturer_vacc_df = pd.read_csv(pathToManufacturer)
clean_manufacturer_vacc_df = pd.read_csv(pathToCleanManufacturer)
population_df = pd.read_csv(pathToPopulation)

In [6]:
population_df.head()

,iso_code,country,2021_last_updated,2020_population,area,density_sq_km,growth_rate,world_%,rank
0,CHN,China,"1,445,558,229","1,439,323,776","9,706,961 sq_km",149/sq_km,0.34%,18.34%,1
1,IND,India,"1,397,131,040","1,380,004,385","3,287,590 sq_km",424/sq_km,0.97%,17.69%,2
2,USA,United States,"333,453,648","331,002,651","9,372,610 sq_km",36/sq_km,0.58%,4.23%,3
3,IDN,Indonesia,"277,151,016","273,523,615","1,904,569 sq_km",145/sq_km,1.04%,3.51%,4
4,PAK,Pakistan,"226,389,268","220,892,340","881,912 sq_km",255/sq_km,1.95%,2.86%,5

In [ ]:
nelly_df
clean_manufacturer_vacc_df